.login_page_wrapper {
    width: 640px !important;
    clear: both;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-50 {
    margin-bottom: 50px;
}

.align-right {
    text-align: right;
}

.select-language-login {
    max-width: 100px;
    display: inline-block;
    width: 100px;
    float: right;
}

.sepratore {
    position: relative;
}

.sepratore::before {
    content: "";
    position: absolute;
    left: 18px;
    height: 100%;
    border-left: 1px solid #ccc;
}


.selectize-control.single .selectize-input:after {
    border: none !important;
    content: '\e5c5';
    font-family: "Material Icons";
    font-size: 28px;
    margin-top: -12px !important;
    right: 28px;
    color: rgba(0,0,0,.3);
}

.profile {
    display: inline-block;
    vertical-align: top;
    margin-right: 30px;
}

.user-pic-placeholder {
    max-width: 100px;
    display: inline-block;
    vertical-align: top;
    margin-right: 15px;
    position: relative;
}

.user-details {
    display: inline-block;
    vertical-align: top;
}

.margin0 {
    margin: 0 !important;
}

.edit-p {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: #299a29;
    padding: 5px;
    border-radius: 7px;
}

.dashoard-manage, .dashoard-billing {
    width: 24%;
    min-height: 140px;
    margin-right: 21px;
    display: inline-block;
    background: #fff;
    position: relative;
    box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
    border: none;
    vertical-align: top;
    margin-top: 25px;
}


.dashoard-manage > h3, .dashoard-billing > h3 {
    color: #b1afaf !important;
    border-top: 3px solid #1976d2;
    padding: 10px 15px 0 15px;
}

.billing-count {
    width: 30px;
    height: 30px;
    display: inline-block;
    color: #1976d2;
    font-size: 25px;
    line-height: 25px;
    text-align: center;
}

.content-billing {
    margin-bottom: 2px !important;
    margin-top: 10px !important;
}

.billing-label {
    font-size: 17px;
    margin-top: 2px;
    display: inline-block;
    margin-left: 15px;
    vertical-align: top;
    font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 500;
}

.content {
    padding: 0 15px 15px 15px;
}

.manage-label {
    font-size: 17px;
    font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 500;
    margin-bottom: 2px !important;
    margin-top: 2px !important;
}

.user-profile-view {
    min-height: 450px;
}

.md-header-card {
    padding: 15px;
}

/*Custom Style Sheet*/
.dashoard-manage, .dashoard-billing {
    width: 100%;
}

.cluster_info {
    list-style: none;
    text-align: center;
}

.custom_margin {
    margin-left: 10px;
    white-space: normal;
}

.control_list {
    display: inline-block;
    width: 170px;
}

.div_content_center {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center
}

.pl10 {
    padding-left: 10px
}

.cluster_info li {
    font-size: 16px
}

.mt-auto {
    margin-top: 5px !important;
}

.search_find_binoculars_icon {
    display: block;
    width: 43px;
    margin: 9px auto;
    opacity: 0.9;
}

.service_text {
    float: right;
    font-weight: 600;
    margin-top: 28px;
    color: #1976d2;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {


    .dashoard-manage {
        width: 100%;
        min-height: 140px;
        margin-right: 20px;
    }

    .dashoard-billing {
        width: 100%;
        min-height: 140px;
        margin-right: 0;
    }

    .manage-label, .billing-label {
        font-size: 15px;
    }
    .w-xs-50{
        width:50%
    }

}

@media only screen and (max-width: 767px) {


    .sepratore::before {
        display: none;
    }

    .dashoard-manage, .dashoard-billing {
        width: 100%;
        height: auto;
        margin-right: 0;
    }

    .manage-label, .billing-label {
        font-size: 15px;
    }
    .w-xs-50 {
        width:50% !important
    }
    .cluster_info li {
        font-size: 14px !important;
    }
   
  

}
@media only screen and (max-width: 540px) {
    .service_text {
        margin-top: 0;
        float: left;
        width:100%;
        font-size: 12px;
    }
}

